 @import './media.scss';

.page1{
    width:100px;
    height:100px;
    background-color: red;
    justify-content: center;
    align-items:center;
    display:flex;
    border-radius: 24px;
    color:white;
    @include mobile{
        background-color: blue;
    }
}